$backgroundColor: rgb(249, 249, 249);
$lightColor: rgb(110, 126, 133);
$lightColor40: rgba(110, 126, 133, 0.4);
$darkColor100: rgb(37, 38, 39);
$darkColor49: rgba(37, 38, 39, 0.49);
$darkColor77: rgba(37, 38, 39, 0.77);
$darkColor83: rgba(37, 38, 39, 0.83);
$darkColor15: rgba(37, 38, 39, 0.15);
$darkColor20: rgba(37, 38, 39, 0.2);
$transparent: rgba(37, 38, 39, 0);
