.aboutContainer {
	opacity: 0;
	margin-right: 1rem;
	animation: fadeInOpacity 0.2s forwards 0.1s;
	overflow-y: scroll;
	padding-left: clamp(1rem, 4vw, 4rem);
	.aboutTitle {
		margin-top: clamp(1rem, 6vw, 4rem);
		font-weight: 200;
		margin-bottom: clamp(1rem, 4vw, 3rem);
		font-size: clamp(1.7rem, 4vw, 3rem);
		text-transform: lowercase;
		opacity: 0;
		animation: fadeInOpacity 0.4s forwards 0.2s;
	}
	.aboutText {
		font-size: clamp(1rem, 3vw, 1.5rem);
		margin-bottom: clamp(1rem, 4vw, 3rem);
		font-weight: 200;
		padding: 0rem clamp(1rem, 4vw, 4rem);
		opacity: 0;
		animation: fadeInOpacity 0.4s forwards 0.4s;

		&::before {
			content: '< ';
		}
		&::after {
			content: ' />';
		}
	}
	.aboutIcons {
		cursor: default;
		color: $darkColor100;
		display: flex;
		justify-content: space-around;
		gap: clamp(1rem, 4vw, 3rem);
		font-size: clamp(2rem, 6vw, 7rem);
		opacity: 0;
		animation: fadeInOpacity 0.4s forwards 0.6s;

		div {
			display: flex;
			flex-direction: column;
			align-items: center;
			overflow-x: hidden;

			span {
				opacity: 0;
				transform: translateY(-10px);
				transition: 0.2s;
				margin-top: 1rem;
				text-transform: lowercase;
				font-weight: 200;
				font-size: clamp(1rem, 3vw, 1.5rem);
			}
		}
	}
	.aboutTech {
		font-weight: 200;
		text-transform: lowercase;
		font-size: clamp(2rem, 2vw, 1.5rem);
		display: flex;
		flex-wrap: wrap;
		gap: clamp(1rem, 4vw, 2rem);
		justify-content: center;
		align-items: flex-start;
		position: relative;
		opacity: 0;
		width: 100%;
		overflow-x: hidden;
		animation: fadeInOpacity 0.4s forwards 0.8s;
		div {
			display: flex;
			width: clamp(4rem, 6vw, 5rem);
			flex-direction: column;
			align-items: center;
			& > :first-child {
				//iconos
				color: $backgroundColor;
				background-color: $darkColor100;
				font-size: clamp(4rem, 6vw, 5rem);
				padding: 1rem;
				transition: 0.2s;

				&:hover + span {
					opacity: 1;
					transform: translateY(0px);
				}
			}

			#reactLogo:hover {
				color: #61dbfb;
			}
			#reduxLogo:hover {
				color: #764abd;
			}
			#routerLogo:hover {
				color: #ca4245;
			}
			#jsLogo:hover {
				color: #ead41c;
			}
			#htmlLogo:hover {
				color: #d84923;
			}
			#sassLogo:hover {
				color: #ca689b;
			}
			#postmanLogo:hover {
				color: #e7663a;
			}
			#xdLogo:hover {
				color: #f229b8;
			}
			#vscodeLogo:hover {
				color: #379fe7;
			}
			#gitLogo:hover {
				color: #e44b2f;
			}
		}
		span {
			opacity: 0;
			white-space: nowrap;
			transform: translateY(-10px);
			transition: 0.2s;
			font-weight: 100;
		}
	}
}

#cog {
	&:hover + span {
		opacity: 1;
		transform: translateY(0px);
	}
	&:hover {
		animation: cogVroom 1.5s forwards;
	}
}

#lamp {
	&:hover + span {
		opacity: 1;
		transform: translateY(0px);
	}
	&:hover {
		animation: lampLight 0.5s forwards;
	}
}

#code {
	&:hover + span {
		opacity: 1;
		transform: translateY(0px);
	}
	&:hover {
		animation: codeClick 0.5s forwards;
	}
}

@media (max-width: 1100px) {
	.aboutIcons {
		flex-direction: column;
		margin-top: 4rem;
		margin-bottom: 4rem;

		div {
			margin-bottom: 1.2rem;
		}
	}

	.aboutTech {
		flex-wrap: nowrap;
		overflow-x: hidden;
		// gap: clamp(1rem, 4vw, 2rem);
		justify-content: center;
		align-items: center;
		div {
			display: flex;
			width: clamp(4rem, 6vw, 5rem);
			flex-direction: column;
			align-items: center;
			& > :first-child {
				//iconos
				color: $backgroundColor;
				background-color: $darkColor100;
				font-size: clamp(4rem, 6vw, 5rem);
				padding: 1rem;
				transition: 0.2s;

				&:hover + span {
					opacity: 1;
					transform: translateY(0px);
				}
			}
		}
		span {
			opacity: 0;
			white-space: nowrap;
			transform: translateY(-10px);
			transition: 0.2s;
			font-weight: 200;
			font-size: clamp(1rem, 2vw, 1rem);
		}
	}

	#lamp {
		margin: 1rem;
	}
}
