@keyframes squareAnim {
	from {
		border-radius: 0%;
	}
	50% {
		border-radius: 50%;
		background-color: #252627;
	}
	to {
		border-radius: 0%;
	}
}

@keyframes colorLock {
	from {
		color: rgba(37, 38, 39, 0.83); //PonerOpacity 83%
		opacity: 0.92;
	}

	to {
		color: rgba(37, 38, 39, 0.83); //PonerOpacity 83%
		opacity: 0.92;
	}
}

@keyframes typeName {
	0% {
		z-index: 1;
		width: 100%;
		background-color: #f9f9f9;
		transition: 0s linear;
	}
	7% {
		width: 100%;
	}
	8% {
		width: 93%;
	}
	14% {
		width: 93%;
	}
	15% {
		width: 84%;
	}
	21% {
		width: 84%;
	}
	22% {
		width: 75%;
	}
	28% {
		width: 75%;
	}
	29% {
		width: 68%;
	}
	35% {
		width: 68%;
	}
	36% {
		width: 60%;
	}
	42% {
		width: 60%;
	}
	43% {
		width: 58%;
	}
	49% {
		width: 58%;
	}
	50% {
		width: 48%;
	}
	56% {
		width: 48%;
	}
	57% {
		width: 40%;
	}
	63% {
		width: 40%;
	}
	64% {
		width: 32%;
	}
	70% {
		width: 32%;
	}
	71% {
		width: 24%;
	}
	77% {
		width: 24%;
	}
	78% {
		width: 18%;
	}
	84% {
		width: 18%;
	}
	85% {
		width: 10%;
	}
	91% {
		width: 10%;
	}
	92% {
		width: 0%;
	}
	98% {
		width: 0%;
	}
	99% {
		width: 0%;
	}
	100% {
		width: 0%;
	}

	100% {
		z-index: 1;
		width: 0%;
		transition: 0s;

		background-color: #f9f9f9;
	}
}
@keyframes frontEndAppear {
	from {
		width: 0%;
		left: 0;
	}
	35% {
		width: 100%;
		left: 0;
	}
	75% {
		width: 100%;
		left: 0;
	}

	to {
		width: 0%;
		left: 100%;
	}
}

@keyframes opacityAppear {
	from {
		opacity: 0;
	}
	99% {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

@keyframes fadeIn {
	from {
		opacity: 0;
		transform: translateY(-20px) rotate(45deg);
	}
	to {
		transform: translateY(0px) rotate(45deg);
		opacity: 1;
	}
}

@keyframes pullBack {
	from {
		width: 100%;
	}

	to {
		width: 0%;
	}
}
