.contactDiv {
	height: 100%;
	display: flex;
	flex-direction: column;
	// justify-content: center;
	align-items: center;

	.myInfo {
		animation: fadeInOpacity 0.2s forwards;
		margin-bottom: 1rem;

		div {
			font-size: clamp(1rem, 4vw, 1.2rem);
			margin-bottom: 1rem;
			font-weight: 200;

			span {
				margin-right: 1rem;
				color: $darkColor77;
				font-size: clamp(0.6rem, 4vw, 0.8rem);
			}
		}
	}

	.iconsContact {
		font-size: clamp(2rem, 4vw, 4rem);
		display: flex;
		// margin-bottom: clamp(1rem, 4vw, 3rem);
		gap: clamp(1rem, 4vw, 3rem);
		opacity: 0;
		animation: fadeInOpacity 0.2s forwards 0.1s;
		overflow-y: hidden;
		overflow-x: hidden;
		div {
			display: flex;
			flex-direction: column;
			align-items: center;
			transition: 0.2s;
			justify-content: center;
			overflow-y: hidden;
			position: relative;
			overflow-x: hidden;
			width: 10vw;

			&:hover span {
				transform: translateY(0px);
				opacity: 1;
			}
			&:hover {
				transform: scale(1.05);
			}

			#linkedin,
			#github,
			#resume,
			#whatsapp {
				transition: 0.2s;
				color: $darkColor100;
			}

			#linkedin:hover {
				color: #026eaa;
			}
			#github:hover {
				color: black;
			}
			#resume:hover {
				color: #ffc800;
			}
			#whatsapp:hover {
				color: #3ab84b;
			}
			span {
				display: block;
				font-size: clamp(0.5rem, 4vw, 1rem);
				bottom: 0;
				position: absolute;
				opacity: 0;
				transform: translateY(-10px);
				transition: 0.2s;
			}
		}
	}

	form {
		width: clamp(300px, 50vw, 800px);
		display: flex;
		flex-direction: column;
		opacity: 0;
		animation: fadeInOpacity 0.2s forwards 0.3s;

		label {
			color: $darkColor49;
		}

		input,
		textarea {
			background-color: $backgroundColor;
			border-style: none none solid none;
			border-color: $darkColor20;
			// margin-bottom: clamp(1rem, 4vw, 3rem);
			height: clamp(1.7rem, 4vw, 3rem);
			font-size: clamp(1.7rem, 4vw, 1rem);
			transition: 0.2s;
			color: $darkColor77;

			&:focus,
			&:active {
				outline: none;
				border-color: $darkColor100;
			}
		}

		textarea {
			margin-top: 2rem;
			resize: none;
			color: $darkColor100;
			font-size: clamp(0.5rem, 4vw, 1.2rem);
		}
		button {
			border: 1px solid $darkColor100;
			background-color: $darkColor100;
			color: $backgroundColor;
			font-size: clamp(1.7rem, 4vw, 1rem);
			font-weight: 200;
			padding: clamp(1.7rem, 4vw, 1rem) 0rem;
			transition: 0.2s;
			cursor: pointer;

			&:hover {
				background-color: $backgroundColor;
				color: $darkColor100;
			}
		}
	}
}
