.projectContainer {
	display: flex;
	align-items: center;
	height: 100%;
	gap: 3rem;
	opacity: 0;
	animation: fadeInOpacity 0.2s forwards 0.1s;
	min-height: 100vh;
	padding-bottom: 8rem;

	.projectText {
		font-weight: 200;
		// background-color: rgb(255, 255, 255);
		width: 45%;
		// padding-top: 8rem;
		padding-top: clamp(1rem, 4vw, 8rem);
		// padding-left: 4rem;
		padding-left: clamp(1rem, 4vw, 4rem);
	}
	.projectTitle {
		font-weight: 200;
		// font-size: 3.5rem;
		font-size: clamp(1.7rem, 4vw, 3.5rem);
		text-transform: lowercase;
		// margin-bottom: 4rem;
		margin-bottom: clamp(1rem, 4vw, 4rem);
	}
	.techUsed {
		font-weight: 200;
		text-transform: lowercase;
		font-size: clamp(2rem, 2vw, 1.5rem);
		display: flex;
		flex-wrap: wrap;
		gap: clamp(1rem, 4vw, 2rem);
		height: calc(clamp(2rem, 6vw, 5rem) + 3rem);
		justify-content: center;
		align-items: flex-start;
		position: relative;
		opacity: 0;
		animation: fadeInOpacity 0.4s forwards 0.8s;
		div {
			display: flex;
			flex-direction: column;
			align-items: center;
			& > :first-child {
				//iconos
				color: $backgroundColor;
				background-color: $darkColor100;
				font-size: clamp(2rem, 4vw, 3rem);
				padding: 0.5rem;
				transition: 0.2s;

				&:hover + span {
					opacity: 1;
					transform: translateY(-20px);
				}
			}

			#reactLogo:hover {
				color: #61dbfb;
			}
			#reduxLogo:hover {
				color: #764abd;
			}
			#routerLogo:hover {
				color: #ca4245;
			}
			#jsLogo:hover {
				color: #ead41c;
			}
			#htmlLogo:hover {
				color: #d84923;
			}
			#sassLogo:hover {
				color: #ca689b;
			}
			#postmanLogo:hover {
				color: #e7663a;
			}
			#xdLogo:hover {
				color: #f229b8;
			}
			#vscodeLogo:hover {
				color: #379fe7;
			}
			#gitLogo:hover {
				color: #e44b2f;
			}
		}
		span {
			font-size: clamp(1rem, 3vw, 1.5rem);
			position: absolute;
			opacity: 0;
			transform: translateY(-30px);
			transition: 0.2s;
			bottom: 0px;
			font-weight: 200;
			cursor: default;
		}
	}

	.projectArrayContainer {
		overflow-y: scroll;
		// height: 60%;
		margin-bottom: clamp(1rem, 4vw, 3rem);
		padding-right: clamp(0.1rem, 4vw, 1rem);
		.projectParagraph {
			text-transform: lowercase;
			// font-size: 2rem;
			font-size: clamp(1rem, 1.5vw, 1.5rem);
			// margin-bottom: 3rem;
			&:not(:last-of-type) {
				margin-bottom: clamp(1rem, 4vw, 3rem);
			}
			// position: relative;

			// &::before {
			// 	content: '';
			// 	position: absolute;
			// 	top: 0;
			// 	right: 0;
			// 	height: 100%;
			// 	width: 100%;
			// 	background-color: $darkColor100;
			// }
		}
	}

	.linksContainer {
		// font-size: 4rem;
		font-size: clamp(1.5rem, 4vw, 4rem);
		display: flex;
		// gap: 3rem;
		gap: clamp(1rem, 4vw, 2rem);

		.swapButton {
			// font-size: 3rem;
			font-size: clamp(1.5rem, 4vw, 4rem);
			border: none;
			background-color: transparent;
			cursor: pointer;
			transition: 0.2s;

			&:hover {
				transform: scale(1.05);
			}
		}
		a {
			transition: 0.2s;
			color: $darkColor100;
			&:hover {
				transform: scale(1.05);
			}
		}
	}
}

.projectImages {
	width: 55%;
	position: relative;
	@include center;
	justify-content: flex-end;

	.desktopImages {
		position: absolute;
		// right: 20%;
		right: clamp(10%, 10vw, 20%);
		// top: 50%;
		top: clamp(40%, 10vw, 50%);
		// width: calc(2560px / 4);
		width: clamp(12.8rem, 37vw, 640px);
		// height: calc(1321px / 4);
		height: clamp(7.2rem, 16vw, 330px);
		background-color: $lightColor;
		border: 1px solid $darkColor100;
		transition: 0.2s;
		cursor: pointer;
	}
	.mobileImages {
		cursor: pointer;
		transition: 0.2s;
		border: 1px solid $darkColor100;
		// width: calc(375px / 1.5);
		width: clamp(5rem, 16vw, 250px); //1
		// height: calc(812px / 1.5);
		height: clamp(14.28rem, 39.2vw, 541px); //2.16
		background-color: $lightColor;
	}
}

.animateProject {
	position: relative;
	&::before {
		content: '';
		position: absolute;
		top: 0;
		right: 0;
		height: 100%;
		width: 0%;
		background-color: $darkColor100;
		animation: pullBack 1s;
	}
}
.goingAway {
	position: relative;
	&::before {
		content: '';
		position: absolute;
		top: 0;
		right: 0;
		height: 100%;
		width: 100%;
		background-color: $darkColor100;
		animation: pullfront 1s;
	}
}

@media (max-width: 660px) {
	// * {
	// 	// overflow-y: visible;
	// }
	.projectContainer {
		flex-direction: column;
		justify-content: center;
		height: fit-content;
		gap: 0rem;
		margin-right: 0.2rem;
		// margin-bottom: 10rem;
		.projectText {
			width: 100%;
			// height: 65%;
		}
		.swapButton {
			display: none;
		}

		.projectImages {
			// height: 35%;
			width: 100%;
			display: flex;
			justify-content: center;
			align-items: center;

			.desktopImages {
				position: static;
			}
			.mobileImages {
				position: static;
			}
		}
	}
}
