@import url("https://fonts.googleapis.com/css2?family=Gothic+A1:wght@100;200;300;400;500&family=Montserrat:wght@100;200;300;400;500;600&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Gothic A1', sans-serif;
  scroll-behavior: smooth;
  -webkit-tap-highlight-color: transparent;
}

::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgba(37, 38, 39, 0);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(37, 38, 39, 0.49);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #252627;
}

@-webkit-keyframes squareAnim {
  from {
    border-radius: 0%;
  }
  50% {
    border-radius: 50%;
    background-color: #252627;
  }
  to {
    border-radius: 0%;
  }
}

@keyframes squareAnim {
  from {
    border-radius: 0%;
  }
  50% {
    border-radius: 50%;
    background-color: #252627;
  }
  to {
    border-radius: 0%;
  }
}

@-webkit-keyframes colorLock {
  from {
    color: rgba(37, 38, 39, 0.83);
    opacity: 0.92;
  }
  to {
    color: rgba(37, 38, 39, 0.83);
    opacity: 0.92;
  }
}

@keyframes colorLock {
  from {
    color: rgba(37, 38, 39, 0.83);
    opacity: 0.92;
  }
  to {
    color: rgba(37, 38, 39, 0.83);
    opacity: 0.92;
  }
}

@-webkit-keyframes typeName {
  0% {
    z-index: 1;
    width: 100%;
    background-color: #f9f9f9;
    -webkit-transition: 0s linear;
    transition: 0s linear;
  }
  7% {
    width: 100%;
  }
  8% {
    width: 93%;
  }
  14% {
    width: 93%;
  }
  15% {
    width: 84%;
  }
  21% {
    width: 84%;
  }
  22% {
    width: 75%;
  }
  28% {
    width: 75%;
  }
  29% {
    width: 68%;
  }
  35% {
    width: 68%;
  }
  36% {
    width: 60%;
  }
  42% {
    width: 60%;
  }
  43% {
    width: 58%;
  }
  49% {
    width: 58%;
  }
  50% {
    width: 48%;
  }
  56% {
    width: 48%;
  }
  57% {
    width: 40%;
  }
  63% {
    width: 40%;
  }
  64% {
    width: 32%;
  }
  70% {
    width: 32%;
  }
  71% {
    width: 24%;
  }
  77% {
    width: 24%;
  }
  78% {
    width: 18%;
  }
  84% {
    width: 18%;
  }
  85% {
    width: 10%;
  }
  91% {
    width: 10%;
  }
  92% {
    width: 0%;
  }
  98% {
    width: 0%;
  }
  99% {
    width: 0%;
  }
  100% {
    width: 0%;
  }
  100% {
    z-index: 1;
    width: 0%;
    -webkit-transition: 0s;
    transition: 0s;
    background-color: #f9f9f9;
  }
}

@keyframes typeName {
  0% {
    z-index: 1;
    width: 100%;
    background-color: #f9f9f9;
    -webkit-transition: 0s linear;
    transition: 0s linear;
  }
  7% {
    width: 100%;
  }
  8% {
    width: 93%;
  }
  14% {
    width: 93%;
  }
  15% {
    width: 84%;
  }
  21% {
    width: 84%;
  }
  22% {
    width: 75%;
  }
  28% {
    width: 75%;
  }
  29% {
    width: 68%;
  }
  35% {
    width: 68%;
  }
  36% {
    width: 60%;
  }
  42% {
    width: 60%;
  }
  43% {
    width: 58%;
  }
  49% {
    width: 58%;
  }
  50% {
    width: 48%;
  }
  56% {
    width: 48%;
  }
  57% {
    width: 40%;
  }
  63% {
    width: 40%;
  }
  64% {
    width: 32%;
  }
  70% {
    width: 32%;
  }
  71% {
    width: 24%;
  }
  77% {
    width: 24%;
  }
  78% {
    width: 18%;
  }
  84% {
    width: 18%;
  }
  85% {
    width: 10%;
  }
  91% {
    width: 10%;
  }
  92% {
    width: 0%;
  }
  98% {
    width: 0%;
  }
  99% {
    width: 0%;
  }
  100% {
    width: 0%;
  }
  100% {
    z-index: 1;
    width: 0%;
    -webkit-transition: 0s;
    transition: 0s;
    background-color: #f9f9f9;
  }
}

@-webkit-keyframes frontEndAppear {
  from {
    width: 0%;
    left: 0;
  }
  35% {
    width: 100%;
    left: 0;
  }
  75% {
    width: 100%;
    left: 0;
  }
  to {
    width: 0%;
    left: 100%;
  }
}

@keyframes frontEndAppear {
  from {
    width: 0%;
    left: 0;
  }
  35% {
    width: 100%;
    left: 0;
  }
  75% {
    width: 100%;
    left: 0;
  }
  to {
    width: 0%;
    left: 100%;
  }
}

@-webkit-keyframes opacityAppear {
  from {
    opacity: 0;
  }
  99% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes opacityAppear {
  from {
    opacity: 0;
  }
  99% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
    -webkit-transform: translateY(-20px) rotate(45deg);
            transform: translateY(-20px) rotate(45deg);
  }
  to {
    -webkit-transform: translateY(0px) rotate(45deg);
            transform: translateY(0px) rotate(45deg);
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    -webkit-transform: translateY(-20px) rotate(45deg);
            transform: translateY(-20px) rotate(45deg);
  }
  to {
    -webkit-transform: translateY(0px) rotate(45deg);
            transform: translateY(0px) rotate(45deg);
    opacity: 1;
  }
}

@-webkit-keyframes pullBack {
  from {
    width: 100%;
  }
  to {
    width: 0%;
  }
}

@keyframes pullBack {
  from {
    width: 100%;
  }
  to {
    width: 0%;
  }
}

@-webkit-keyframes fadeInOpacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeInOpacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes pullfront {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}

@keyframes pullfront {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}

@-webkit-keyframes cogVroom {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  10% {
    -webkit-transform: rotate(-50deg);
            transform: rotate(-50deg);
  }
  15% {
    -webkit-transform: rotate(-50deg);
            transform: rotate(-50deg);
    -webkit-filter: blur(0px);
            filter: blur(0px);
    color: #252627;
  }
  20% {
    -webkit-filter: blur(2px);
            filter: blur(2px);
  }
  to {
    color: #a30b37;
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes cogVroom {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  10% {
    -webkit-transform: rotate(-50deg);
            transform: rotate(-50deg);
  }
  15% {
    -webkit-transform: rotate(-50deg);
            transform: rotate(-50deg);
    -webkit-filter: blur(0px);
            filter: blur(0px);
    color: #252627;
  }
  20% {
    -webkit-filter: blur(2px);
            filter: blur(2px);
  }
  to {
    color: #a30b37;
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes lampLight {
  from {
    -webkit-transform: scale(1) translateY(0px);
            transform: scale(1) translateY(0px);
    -webkit-filter: blur(0px);
            filter: blur(0px);
  }
  50% {
    color: #252627;
    -webkit-filter: blur(2px);
            filter: blur(2px);
    -webkit-transform: scale(0.95) translateY(10px);
            transform: scale(0.95) translateY(10px);
  }
  to {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    -webkit-transform: scale(1) translateY(-7px);
            transform: scale(1) translateY(-7px);
    color: #ffc800;
  }
}

@keyframes lampLight {
  from {
    -webkit-transform: scale(1) translateY(0px);
            transform: scale(1) translateY(0px);
    -webkit-filter: blur(0px);
            filter: blur(0px);
  }
  50% {
    color: #252627;
    -webkit-filter: blur(2px);
            filter: blur(2px);
    -webkit-transform: scale(0.95) translateY(10px);
            transform: scale(0.95) translateY(10px);
  }
  to {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    -webkit-transform: scale(1) translateY(-7px);
            transform: scale(1) translateY(-7px);
    color: #ffc800;
  }
}

@-webkit-keyframes codeClick {
  from {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  40% {
    color: #252627;
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
    -webkit-filter: blur(2px);
            filter: blur(2px);
  }
  to {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    -webkit-transform: scale(1);
            transform: scale(1);
    color: #4062bb;
  }
}

@keyframes codeClick {
  from {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  40% {
    color: #252627;
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
    -webkit-filter: blur(2px);
            filter: blur(2px);
  }
  to {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    -webkit-transform: scale(1);
            transform: scale(1);
    color: #4062bb;
  }
}

.welcomeDiv {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f9f9f9;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.welcomeDiv .welcomeScreenTextContainer {
  position: absolute;
  top: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: default;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.welcomeDiv .welcomeScreenTextContainer .lucasPennice {
  color: rgba(37, 38, 39, 0.83);
  opacity: 0.92;
  font-weight: 200;
  text-transform: uppercase;
  position: relative;
  font-size: clamp(17px, 4vw, 70px);
  letter-spacing: clamp(10px, 3vw, 25px);
  text-indent: clamp(10px, 3vw, 25px);
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  text-shadow: 0px 12px 8px rgba(37, 38, 39, 0.2);
  -webkit-animation: colorLock 2s;
          animation: colorLock 2s;
}

.welcomeDiv .welcomeScreenTextContainer .lucasPennice:before {
  content: '';
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  z-index: -1;
  position: absolute;
  right: 0;
  height: 100%;
  width: 0%;
  background-color: #252627;
  -webkit-animation: typeName 2s linear;
          animation: typeName 2s linear;
}

.welcomeDiv .welcomeScreenTextContainer .lucasPennice:hover::before {
  width: 100%;
}

.welcomeDiv .welcomeScreenTextContainer .lucasPennice:hover {
  color: #f9f9f9;
}

.welcomeDiv .welcomeScreenTextContainer .frontEndContainer {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  gap: 1rem;
}

.welcomeDiv .welcomeScreenTextContainer .frontEndContainer::before {
  content: '';
  position: absolute;
  width: 0%;
  height: 100%;
  background-color: #252627;
  z-index: 1;
  -webkit-animation: frontEndAppear 1s ease-in-out 2.1s;
          animation: frontEndAppear 1s ease-in-out 2.1s;
}

.welcomeDiv .welcomeScreenTextContainer .frontEndContainer:hover .frontEndDeveloper {
  color: #252627;
}

.welcomeDiv .welcomeScreenTextContainer .frontEndContainer:hover .middleBar::before {
  width: 100%;
}

.welcomeDiv .welcomeScreenTextContainer .frontEndContainer:hover .middleBar {
  opacity: 1;
}

.welcomeDiv .welcomeScreenTextContainer .frontEndContainer .frontEndDeveloper {
  font-size: clamp(12px, 3vw, 53px);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  font-weight: 300;
  text-transform: lowercase;
  color: rgba(0, 0, 0, 0.45);
  opacity: 0;
  -webkit-animation: opacityAppear 2.4s forwards 0.35s;
          animation: opacityAppear 2.4s forwards 0.35s;
}

.welcomeDiv .welcomeScreenTextContainer .frontEndContainer .middleBar {
  width: 20%;
  height: 1px;
  background-color: rgba(110, 126, 133, 0.4);
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  position: relative;
  opacity: 0;
  -webkit-animation: opacityAppear 2.4s forwards;
          animation: opacityAppear 2.4s forwards;
}

.welcomeDiv .welcomeScreenTextContainer .frontEndContainer .middleBar::before {
  content: '';
  position: absolute;
  background-color: #252627;
  width: 0%;
  opacity: 0;
  height: 100%;
  -webkit-animation: opacityAppear 0.01s forwards 2.4s;
          animation: opacityAppear 0.01s forwards 2.4s;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.welcomeDiv .welcomeScreenTextContainer .frontEndContainer .middleBar:nth-of-type(1)::before {
  right: 0;
}

.welcomeDiv .goDownContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  gap: clamp(4px, 1vw, 4px);
  position: absolute;
  bottom: 100px;
  cursor: pointer;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  opacity: 0;
  -webkit-animation: fadeIn 0.2s forwards 3.3s;
          animation: fadeIn 0.2s forwards 3.3s;
}

.welcomeDiv .goDownContainer:hover .square {
  background-color: black;
}

.welcomeDiv .goDownContainer .square {
  width: clamp(4px, 1vw, 8px);
  height: clamp(4px, 1vw, 8px);
  background-color: rgba(0, 0, 0, 0.23);
  border: 1px solid #6e7e85;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.welcomeDiv .goDownContainer #sq3 {
  -webkit-animation: squareAnim 2s infinite 0.1s;
          animation: squareAnim 2s infinite 0.1s;
}

.welcomeDiv .goDownContainer #sq4 {
  -webkit-animation: squareAnim 2s infinite 0.2s;
          animation: squareAnim 2s infinite 0.2s;
}

.welcomeDiv .goDownContainer #sq5 {
  -webkit-animation: squareAnim 2s infinite 0.3s;
          animation: squareAnim 2s infinite 0.3s;
}

.welcomeDiv .goDownContainer #sq1 {
  -webkit-animation: squareAnim 2s infinite 0.5s;
          animation: squareAnim 2s infinite 0.5s;
}

.welcomeDiv .goDownContainer #sq2 {
  -webkit-animation: squareAnim 2s infinite 0.4s;
          animation: squareAnim 2s infinite 0.4s;
}

.welcomeDiv .goDownContainer .bottomSquareRow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: clamp(4px, 1vw, 4px);
}

.projectContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  gap: 3rem;
  opacity: 0;
  -webkit-animation: fadeInOpacity 0.2s forwards 0.1s;
          animation: fadeInOpacity 0.2s forwards 0.1s;
}

.projectContainer .projectText {
  font-weight: 200;
  width: 45%;
  padding-top: clamp(1rem, 4vw, 8rem);
  padding-left: clamp(1rem, 4vw, 4rem);
}

.projectContainer .projectTitle {
  font-weight: 200;
  font-size: clamp(1.7rem, 4vw, 3.5rem);
  text-transform: lowercase;
  margin-bottom: clamp(1rem, 4vw, 4rem);
}

.projectContainer .techUsed {
  font-weight: 200;
  text-transform: lowercase;
  font-size: clamp(2rem, 2vw, 1.5rem);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: clamp(1rem, 4vw, 2rem);
  height: calc(clamp(2rem, 6vw, 5rem) + 3rem);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  position: relative;
  opacity: 0;
  -webkit-animation: fadeInOpacity 0.4s forwards 0.8s;
          animation: fadeInOpacity 0.4s forwards 0.8s;
}

.projectContainer .techUsed div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.projectContainer .techUsed div > :first-child {
  color: #f9f9f9;
  background-color: #252627;
  font-size: clamp(2rem, 6vw, 3rem);
  padding: 0.5rem;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.projectContainer .techUsed div > :first-child:hover + span {
  opacity: 1;
  -webkit-transform: translateY(-20px);
          transform: translateY(-20px);
}

.projectContainer .techUsed div #reactLogo:hover {
  color: #61dbfb;
}

.projectContainer .techUsed div #reduxLogo:hover {
  color: #764abd;
}

.projectContainer .techUsed div #routerLogo:hover {
  color: #ca4245;
}

.projectContainer .techUsed div #jsLogo:hover {
  color: #ead41c;
}

.projectContainer .techUsed div #htmlLogo:hover {
  color: #d84923;
}

.projectContainer .techUsed div #sassLogo:hover {
  color: #ca689b;
}

.projectContainer .techUsed div #postmanLogo:hover {
  color: #e7663a;
}

.projectContainer .techUsed div #xdLogo:hover {
  color: #f229b8;
}

.projectContainer .techUsed div #vscodeLogo:hover {
  color: #379fe7;
}

.projectContainer .techUsed div #gitLogo:hover {
  color: #e44b2f;
}

.projectContainer .techUsed span {
  font-size: clamp(1rem, 3vw, 1.5rem);
  position: absolute;
  opacity: 0;
  -webkit-transform: translateY(-30px);
          transform: translateY(-30px);
  -webkit-transition: 0.2s;
  transition: 0.2s;
  bottom: 0px;
  font-weight: 200;
  cursor: default;
}

.projectContainer .projectArrayContainer {
  overflow-y: scroll;
  margin-bottom: clamp(1rem, 4vw, 3rem);
  padding-right: clamp(0.1rem, 4vw, 1rem);
}

.projectContainer .projectArrayContainer .projectParagraph {
  text-transform: lowercase;
  font-size: clamp(1rem, 1.5vw, 1.5rem);
}

.projectContainer .projectArrayContainer .projectParagraph:not(:last-of-type) {
  margin-bottom: clamp(1rem, 4vw, 3rem);
}

.projectContainer .linksContainer {
  font-size: clamp(1.5rem, 4vw, 4rem);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: clamp(1rem, 4vw, 2rem);
}

.projectContainer .linksContainer .swapButton {
  font-size: clamp(1.5rem, 4vw, 4rem);
  border: none;
  background-color: transparent;
  cursor: pointer;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.projectContainer .linksContainer .swapButton:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.projectContainer .linksContainer a {
  -webkit-transition: 0.2s;
  transition: 0.2s;
  color: #252627;
}

.projectContainer .linksContainer a:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.projectImages {
  width: 55%;
  position: relative;
}

.projectImages .desktopImages {
  position: absolute;
  right: clamp(10%, 10vw, 20%);
  top: clamp(40%, 10vw, 50%);
  width: clamp(12.8rem, 37vw, 640px);
  height: clamp(7.2rem, 16vw, 330px);
  background-color: #6e7e85;
  border: 1px solid #252627;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  cursor: pointer;
}

.projectImages .mobileImages {
  cursor: pointer;
  position: absolute;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  right: 10%;
  border: 1px solid #252627;
  top: 10%;
  width: clamp(5rem, 16vw, 250px);
  height: clamp(14.28rem, 39.2vw, 541px);
  background-color: #6e7e85;
}

.animateProject {
  position: relative;
}

.animateProject::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 0%;
  background-color: #252627;
  -webkit-animation: pullBack 1s;
          animation: pullBack 1s;
}

.goingAway {
  position: relative;
}

.goingAway::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background-color: #252627;
  -webkit-animation: pullfront 1s;
          animation: pullfront 1s;
}

@media (max-width: 660px) {
  .projectContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 0rem;
    margin-right: 0.2rem;
  }
  .projectContainer .projectText {
    width: 100%;
    height: 65%;
  }
  .projectContainer .swapButton {
    display: none;
  }
  .projectContainer .projectImages {
    height: 35%;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .projectContainer .projectImages .desktopImages {
    position: static;
  }
  .projectContainer .projectImages .mobileImages {
    position: static;
  }
}

.aboutContainer {
  opacity: 0;
  margin-right: 1rem;
  -webkit-animation: fadeInOpacity 0.2s forwards 0.1s;
          animation: fadeInOpacity 0.2s forwards 0.1s;
  padding-left: clamp(1rem, 4vw, 4rem);
}

.aboutContainer .aboutTitle {
  margin-top: clamp(1rem, 6vw, 4rem);
  font-weight: 200;
  margin-bottom: clamp(1rem, 4vw, 3rem);
  font-size: clamp(1.7rem, 4vw, 3rem);
  text-transform: lowercase;
  opacity: 0;
  -webkit-animation: fadeInOpacity 0.4s forwards 0.2s;
          animation: fadeInOpacity 0.4s forwards 0.2s;
}

.aboutContainer .aboutText {
  font-size: clamp(1rem, 3vw, 1.5rem);
  margin-bottom: clamp(1rem, 4vw, 3rem);
  font-weight: 200;
  padding: 0rem clamp(1rem, 4vw, 4rem);
  opacity: 0;
  -webkit-animation: fadeInOpacity 0.4s forwards 0.4s;
          animation: fadeInOpacity 0.4s forwards 0.4s;
}

.aboutContainer .aboutText::before {
  content: '< ';
}

.aboutContainer .aboutText::after {
  content: ' />';
}

.aboutContainer .aboutIcons {
  cursor: default;
  color: #252627;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  gap: clamp(1rem, 4vw, 3rem);
  font-size: clamp(2rem, 6vw, 7rem);
  opacity: 0;
  -webkit-animation: fadeInOpacity 0.4s forwards 0.6s;
          animation: fadeInOpacity 0.4s forwards 0.6s;
}

.aboutContainer .aboutIcons div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow-x: hidden;
}

.aboutContainer .aboutIcons div span {
  opacity: 0;
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
  -webkit-transition: 0.2s;
  transition: 0.2s;
  margin-top: 1rem;
  text-transform: lowercase;
  font-weight: 200;
  font-size: clamp(1rem, 3vw, 1.5rem);
}

.aboutContainer .aboutTech {
  font-weight: 200;
  text-transform: lowercase;
  font-size: clamp(2rem, 2vw, 1.5rem);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: clamp(1rem, 4vw, 2rem);
  height: calc(clamp(2rem, 6vw, 5rem) + 3rem);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  position: relative;
  opacity: 0;
  -webkit-animation: fadeInOpacity 0.4s forwards 0.8s;
          animation: fadeInOpacity 0.4s forwards 0.8s;
}

.aboutContainer .aboutTech div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.aboutContainer .aboutTech div > :first-child {
  color: #f9f9f9;
  background-color: #252627;
  font-size: clamp(4rem, 6vw, 5rem);
  padding: 1rem;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.aboutContainer .aboutTech div > :first-child:hover + span {
  opacity: 1;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
}

.aboutContainer .aboutTech div #reactLogo:hover {
  color: #61dbfb;
}

.aboutContainer .aboutTech div #reduxLogo:hover {
  color: #764abd;
}

.aboutContainer .aboutTech div #routerLogo:hover {
  color: #ca4245;
}

.aboutContainer .aboutTech div #jsLogo:hover {
  color: #ead41c;
}

.aboutContainer .aboutTech div #htmlLogo:hover {
  color: #d84923;
}

.aboutContainer .aboutTech div #sassLogo:hover {
  color: #ca689b;
}

.aboutContainer .aboutTech div #postmanLogo:hover {
  color: #e7663a;
}

.aboutContainer .aboutTech div #xdLogo:hover {
  color: #f229b8;
}

.aboutContainer .aboutTech div #vscodeLogo:hover {
  color: #379fe7;
}

.aboutContainer .aboutTech div #gitLogo:hover {
  color: #e44b2f;
}

.aboutContainer .aboutTech span {
  position: absolute;
  opacity: 0;
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
  -webkit-transition: 0.2s;
  transition: 0.2s;
  bottom: 0px;
  font-weight: 100;
}

#cog:hover + span {
  opacity: 1;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
}

#cog:hover {
  -webkit-animation: cogVroom 1.5s forwards;
          animation: cogVroom 1.5s forwards;
}

#lamp:hover + span {
  opacity: 1;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
}

#lamp:hover {
  -webkit-animation: lampLight 0.5s forwards;
          animation: lampLight 0.5s forwards;
}

#code:hover + span {
  opacity: 1;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
}

#code:hover {
  -webkit-animation: codeClick 0.5s forwards;
          animation: codeClick 0.5s forwards;
}

@media (max-width: 1100px) {
  .aboutIcons {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 4rem;
    margin-bottom: 4rem;
  }
  .aboutIcons div {
    margin-bottom: 1.2rem;
  }
  .aboutTech {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.contactDiv {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contactDiv .myInfo {
  -webkit-animation: fadeInOpacity 0.2s forwards;
          animation: fadeInOpacity 0.2s forwards;
  margin-bottom: 1rem;
}

.contactDiv .myInfo div {
  font-size: clamp(1rem, 4vw, 1.2rem);
  margin-bottom: 1rem;
  font-weight: 200;
}

.contactDiv .myInfo div span {
  margin-right: 1rem;
  color: rgba(37, 38, 39, 0.77);
  font-size: clamp(0.6rem, 4vw, 0.8rem);
}

.contactDiv .iconsContact {
  font-size: clamp(2rem, 4vw, 4rem);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: clamp(1rem, 4vw, 3rem);
  opacity: 0;
  -webkit-animation: fadeInOpacity 0.2s forwards 0.1s;
          animation: fadeInOpacity 0.2s forwards 0.1s;
  overflow-y: hidden;
  overflow-x: hidden;
}

.contactDiv .iconsContact div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow-y: hidden;
  position: relative;
  overflow-x: hidden;
  width: 10vw;
}

.contactDiv .iconsContact div:hover span {
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
  opacity: 1;
}

.contactDiv .iconsContact div:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.contactDiv .iconsContact div #linkedin,
.contactDiv .iconsContact div #github,
.contactDiv .iconsContact div #resume,
.contactDiv .iconsContact div #whatsapp {
  -webkit-transition: 0.2s;
  transition: 0.2s;
  color: #252627;
}

.contactDiv .iconsContact div #linkedin:hover {
  color: #026eaa;
}

.contactDiv .iconsContact div #github:hover {
  color: black;
}

.contactDiv .iconsContact div #resume:hover {
  color: #ffc800;
}

.contactDiv .iconsContact div #whatsapp:hover {
  color: #3ab84b;
}

.contactDiv .iconsContact div span {
  display: block;
  font-size: clamp(0.5rem, 4vw, 1rem);
  bottom: 0;
  position: absolute;
  opacity: 0;
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.contactDiv form {
  width: clamp(300px, 50vw, 800px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  opacity: 0;
  -webkit-animation: fadeInOpacity 0.2s forwards 0.3s;
          animation: fadeInOpacity 0.2s forwards 0.3s;
}

.contactDiv form label {
  color: rgba(37, 38, 39, 0.49);
}

.contactDiv form input,
.contactDiv form textarea {
  background-color: #f9f9f9;
  border-style: none none solid none;
  border-color: rgba(37, 38, 39, 0.2);
  height: clamp(1.7rem, 4vw, 3rem);
  font-size: clamp(1.7rem, 4vw, 1rem);
  -webkit-transition: 0.2s;
  transition: 0.2s;
  color: rgba(37, 38, 39, 0.77);
}

.contactDiv form input:focus, .contactDiv form input:active,
.contactDiv form textarea:focus,
.contactDiv form textarea:active {
  outline: none;
  border-color: #252627;
}

.contactDiv form textarea {
  margin-top: 2rem;
  resize: none;
  color: #252627;
  font-size: clamp(0.5rem, 4vw, 1.2rem);
}

.contactDiv form button {
  border: 1px solid #252627;
  background-color: #252627;
  color: #f9f9f9;
  font-size: clamp(1.7rem, 4vw, 1rem);
  font-weight: 200;
  padding: clamp(1.7rem, 4vw, 1rem) 0rem;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  cursor: pointer;
}

.contactDiv form button:hover {
  background-color: #f9f9f9;
  color: #252627;
}

.mainPageDiv {
  background-color: #f9f9f9;
  height: 100vh;
}

.mainPageDiv .navBar {
  font-weight: 200;
  font-size: clamp(12px, 3vw, 32px);
  padding-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  padding-bottom: 0.2rem;
}

.mainPageDiv .navBar a {
  padding: 0px clamp(15px, 3vw, 50px);
  border-style: none solid none none;
  border-color: rgba(110, 126, 133, 0.4);
  border-width: 1px;
  text-decoration: none;
  color: #252627;
  outline: 1px solid rgba(37, 38, 39, 0);
  outline-offset: -20px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.mainPageDiv .navBar a:hover {
  outline: 1px solid #252627;
  outline-offset: 0px;
}

.mainPageDiv .navBar button {
  padding: 0px clamp(15px, 3vw, 50px);
  background-color: transparent;
  border: none;
  font-size: clamp(12px, 3vw, 32px);
}

.routeContainer {
  height: calc(100vh - clamp(12px, 3vw, 32px) - 40px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.routeContainer .componentContainer {
  background-color: #f9f9f9;
  overflow-y: scroll;
  height: 90%;
  width: 95%;
}

.inFront {
  z-index: 3;
}

.behind {
  z-index: 2;
}

.opacity0 {
  opacity: 0;
}

.blur {
  -webkit-filter: blur(5px);
  /* Safari 6.0 - 9.0 */
  filter: blur(5px);
}
/*# sourceMappingURL=styles.css.map */