// @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gothic+A1:wght@100;200;300;400;500&family=Montserrat:wght@100;200;300;400;500;600&display=swap');
@mixin center {
	display: flex;
	justify-content: center;
	align-items: center;
}

$backgroundColor: rgb(249, 249, 249);
$lightColor: rgb(110, 126, 133);
$lightColor40: rgba(110, 126, 133, 0.4);
$darkColor100: rgb(37, 38, 39);
$darkColor49: rgba(37, 38, 39, 0.49);
$darkColor77: rgba(37, 38, 39, 0.77);
$darkColor83: rgba(37, 38, 39, 0.83);
$darkColor15: rgba(37, 38, 39, 0.15);
$darkColor20: rgba(37, 38, 39, 0.2);
$transparent: rgba(37, 38, 39, 0);

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	// font-family: 'Montserrat', sans-serif;
	font-family: 'Gothic A1', sans-serif;
	scroll-behavior: smooth;
	// overflow-y: scroll;
	-webkit-tap-highlight-color: transparent;
}

::-webkit-scrollbar {
	width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
	// background: rgba(37, 38, 39, 0); //49%
	background: $transparent; //49%
}

/* Handle */
::-webkit-scrollbar-thumb {
	// background: rgba(37, 38, 39, 0.47);
	background: $darkColor49;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	// background: rgb(37, 38, 39);
	background: $darkColor100;
}
@import 'iconStyles';
@import 'animations';
@import 'welcomeScreen';
@import 'portfolio';
@import 'about';
@import 'contact';

//////////////////////////////////////////////////////////////////////////////////////////////////////

//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

.mainPageDiv {
	background-color: $backgroundColor;
	// height: 100vh;

	.navBar {
		font-weight: 200;
		font-size: clamp(12px, 3vw, 32px);
		padding: 1rem 0rem;
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: transparentize($color: $backgroundColor, $amount: 0.2);
		backdrop-filter: blur(1rem);
		gap: 1px;
		position: sticky;
		z-index: 5;
		top: 0em;

		a {
			padding: 0rem clamp(15px, 3vw, 50px);
			border-style: none solid none none;
			z-index: 6;

			// border-color: rgba(112, 112, 112, 0.52);
			border-color: $lightColor40;

			border-width: 1px;
			text-decoration: none;
			color: $darkColor100;
			outline: 1px solid $transparent;
			outline-offset: -20px;
			transition: 0.2s;

			&:hover {
				outline: 1px solid $darkColor100;
				outline-offset: 0px;
			}
		}
		button {
			padding: 0px clamp(15px, 3vw, 50px);
			background-color: transparent;
			border: none;
			font-size: clamp(12px, 3vw, 32px);
		}
	}
}

.currentClass {
	outline: 1px solid $darkColor100 !important;
	outline-offset: 0px !important;
}

.routeContainer {
	// height: calc(100vh - clamp(12px, 3vw, 32px) - 40px);
	@include center;

	.componentContainer {
		background-color: $backgroundColor;
		overflow-y: scroll;
		// height: 90%;
		width: 95%;
	}
}

.inFront {
	z-index: 3;
}

.behind {
	z-index: 2;
}

.opacity0 {
	opacity: 0;
}

.blur {
	-webkit-filter: blur(5px); /* Safari 6.0 - 9.0 */
	filter: blur(5px);
}

.image_slider_container {
	@include center;
	width: 50%;
	position: relative;

	.before_btn,
	.after_btn {
		position: absolute;
		top: calc(50% - 1rem);
		z-index: 2;
		background-color: white;
		border-radius: 2px;
		font-size: 2rem;
		cursor: pointer;
		transition: 0.15s;
		box-shadow: 0 2px 5px gray;
		&:hover {
			transform: scale(1.1);
		}
	}
	.before_btn {
		left: 5px;
	}
	.after_btn {
		right: 5px;
	}

	.slider_container {
		position: relative;
		width: 100%;
		height: calc(50vw / 19 * 9);

		.slider_img {
			width: 100%;
			position: absolute;
			transition: 0.3s;
			opacity: 0;
			border-radius: 10px;
			box-shadow: 0 0 10px gray;
		}

		.show {
			opacity: 1;
			transition: 1s;
		}
	}

	.circles_container {
		position: absolute;
		z-index: 2;
		display: flex;
		gap: 1rem;
		bottom: 10px;

		.circle {
			width: 1rem;
			height: 1rem;
			border-radius: 50%;
			box-shadow: 0 2px 5px gray;
			transition: 0.15s;
		}

		.active {
			background-color: black;
		}

		.inactive {
			background-color: white;
		}
	}
}
@media (max-width: 660px) {
	.image_slider_container {
		margin-top: 1rem;
		width: 90%;

		.slider_container {
			height: calc(80vw / 16 * 9);
		}
	}
}
