// @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gothic+A1:wght@100;200;300;400;500&family=Montserrat:wght@100;200;300;400;500;600&display=swap');
@mixin center {
	display: flex;
	justify-content: center;
	align-items: center;
}
@import 'animations';

@import 'welcomeScreen';

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	// font-family: 'Montserrat', sans-serif;
	font-family: 'Gothic A1', sans-serif;
	scroll-behavior: smooth;
	overflow-y: hidden;
	-webkit-tap-highlight-color: transparent;
}

::-webkit-scrollbar {
	width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
	background: rgba(37, 38, 39, 0.49); //49%
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: rgba(37, 38, 39, 0.77); //77%
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: rgb(37, 38, 39);
}

.mainPageDiv {
	background-color: #f9f9f9;
	height: 100vh;

	.navBar {
		font-weight: 200;
		font-size: clamp(12px, 3vw, 32px);
		padding-top: 40px;
		@include center;
		position: relative;

		a {
			padding: 0px clamp(15px, 3vw, 50px);
			border-style: none solid none none;
			border-color: rgba(112, 112, 112, 0.52);
			border-width: 1px;
			text-decoration: none;
			color: #252627;

			&:hover {
				background-color: gray;
			}
		}
		button {
			padding: 0px clamp(15px, 3vw, 50px);
			background-color: transparent;
			border: none;
			font-size: clamp(12px, 3vw, 32px);
		}
	}
}

.routeContainer {
	height: calc(100vh - clamp(12px, 3vw, 32px) - 40px);
	@include center;

	.componentContainer {
		background-color: #f9f9f9;
		overflow-y: hidden;
		height: 90%;
		width: 95%;
	}
}

.projectContainer {
	display: flex;
	height: 100%;
	gap: 3rem;

	.projectText {
		font-weight: 200;
		// background-color: rgb(255, 255, 255);
		width: 45%;
		// padding-top: 8rem;
		padding-top: clamp(1rem, 4vw, 8rem);
		// padding-left: 4rem;
		padding-left: clamp(1rem, 4vw, 4rem);
	}
	.projectTitle {
		font-weight: 200;
		// font-size: 3.5rem;
		font-size: clamp(1rem, 4vw, 3.5rem);
		text-transform: lowercase;
		// margin-bottom: 4rem;
		position: relative;
		margin-bottom: clamp(1rem, 4vw, 4rem);

		&::before {
			content: '';
			position: absolute;
			top: 0;
			right: 0;
			height: 100%;
			width: 100%;
			background-color: #252627;
		}
	}

	.projectArrayContainer {
		.projectParagraph {
			text-transform: lowercase;
			// font-size: 2rem;
			font-size: clamp(0.8rem, 2vw, 1.5rem);
			// margin-bottom: 3rem;
			margin-bottom: clamp(1rem, 4vw, 3rem);
			position: relative;

			&::before {
				content: '';
				position: absolute;
				top: 0;
				right: 0;
				height: 100%;
				width: 100%;
				background-color: #252627;
			}
		}
	}

	.linksContainer {
		// font-size: 4rem;
		font-size: clamp(1.5rem, 4vw, 4rem);
		display: flex;
		// gap: 3rem;
		gap: clamp(1rem, 4vw, 2rem);

		.swapButton {
			// font-size: 3rem;
			font-size: clamp(1rem, 4vw, 3rem);
			border: none;
			background-color: transparent;
			cursor: pointer;
			transition: 0.2s;

			&:hover {
				transform: scale(1.05);
			}
		}
		a {
			transition: 0.2s;
			color: #252627;
			&:hover {
				transform: scale(1.05);
			}
		}
	}
}

.projectImages {
	width: 55%;
	position: relative;

	.desktopImages {
		position: absolute;
		// right: 20%;
		right: clamp(10%, 10vw, 20%);
		// top: 50%;
		top: clamp(40%, 10vw, 50%);
		// width: calc(2560px / 4);
		width: clamp(12.8rem, 37vw, 640px);
		// height: calc(1321px / 4);
		height: clamp(7.2rem, 16vw, 330px);
		background-color: white;
		border: 1px solid #252627;
		transition: 0.2s;
		cursor: pointer;
	}
	.mobileImages {
		cursor: pointer;
		position: absolute;
		transition: 0.2s;
		right: 10%;
		border: 1px solid #252627;
		top: 10%;
		// width: calc(375px / 1.5);
		width: clamp(6rem, 16vw, 250px); //1
		// height: calc(812px / 1.5);
		height: clamp(15.28rem, 39.2vw, 541px); //2.16
		background-color: white;
	}
}

.inFront {
	z-index: 3;
}

.behind {
	z-index: 2;
}

.opacity0 {
	opacity: 0;
}

.blur {
	-webkit-filter: blur(5px); /* Safari 6.0 - 9.0 */
	filter: blur(5px);
}

.animateProject {
	position: relative;
	&::before {
		content: '';
		position: absolute;
		top: 0;
		right: 0;
		height: 100%;
		width: 0%;
		background-color: #252627;
		animation: pullBack 1s forwards;
	}
}

@media (max-width: 660px) {
	* {
		overflow-y: visible;
	}
	.projectContainer {
		flex-direction: column;

		.projectText {
			width: 100%;
		}

		.projectImages {
			width: 100%;

			.desktopImages {
				right: 100px;
				top: 50px;
			}
			.mobileImages {
				right: 10%;
				top: -80px;
			}
		}
	}
}
